<div class="container">
    <h2>Todo: </h2>

    <form role='form' ng-submit='addTodo()'>
        <div class='row'>
            <div class='input-group'>
                <input type='text' ng-model='todo.title' placeholder='What needs to be done?' class='form-control' />
                <span class='input-group-btn'>
					<button type='submit' aria-label='Submit' class='btn btn-primary'><i class='fa fa-plus fa-fw'></i></button>
				</span>
            </div>
        </div>
    </form>

    <p></p>

    <div ng-repeat='todo in todos' class='list-group'>
        <span class='label label-warning'>On: {{todo.timestamp | date: 'short'}}</span>
        <p class="input-group input-group-sm">
            <input type='text' ng-model='todo.title' class='form-control'>
            <span class='input-group-btn'>
			<button class='btn btn-danger' ng-click='removeTodo($index)' aria-label='Remove'><i class='fa fa-trash fa-fw'></i></button>
        </span>
        </p>
    </div>
</div>
